<header>
    <div class="header-inner container row">
        <div class="col-sm-3 logo">
            <a href="{{ path('app_index') }}"><span>Matthew's Test</span></a>
        </div>
        <div class="col-sm-9 navigation">
            <nav id="menu">
                <ul>
                    <a href="{{ path('app_index') }}"><li>Show all</li></a>
                    <a href="{{ path('app_user') }}"><li>Add user</li></a>
                    <a href="{{ path('app_product') }}"><li>Add product</li></a>
                </ul>
            </nav>
        </div>
    </div>
</header>