{% extends 'layouts/base.html.twig' %}

{% block title %}Users and related products list{% endblock %}

{% block body %}

    <section class="wrapper">
        <div class="wrapper-inner container">
            <table>
                <tr>
                    <th>id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Products</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user['id'] }}</td>
                        <td>{{ user['firstName'] }}</td>
                        <td>{{ user['lastName'] }}</td>
                        <td>{{ user['age'] }}</td>
                        <td>
                            {% for key, product in user['products'] %}
                                {{ product.name }}{% if key != user['products']|length - 1 %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

{% endblock %}
