{% extends 'layouts/base.html.twig' %}

{% block title %}Add product{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="wrapper-inner container">
        <h1>Add products for users here</h1>
        {{ form(add_product) }}
        <div class="result">

        </div>
    </div>
</div>

{% endblock %}
