@import "bootstrap";

body {
    background-color: white;
}

table, tr, td, th{
    border: 1px solid grey;
    padding: 3px;
}

table {
    width: 100%;
}

th {
    text-align: center;
}

.header-inner.container.row {
    margin: auto;
    padding: 15px 0;
}

header {
    background: white;
    box-shadow: 1px 1px 3px 0px grey;
}

nav#menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

nav#menu ul {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0;
}

nav#menu ul a{
    color: black;
    transition: 0.2s;
}

nav#menu ul a:hover{
    color: grey;
    transition: 0.2s;
}

.wrapper-inner {
    padding: 30px 0;
}

form div * {
    display: block;
}

form div input,
form div textarea{
    width: 250px;
    border-radius: 5px;
    padding: 4px 10px;
}

form div textarea{
    height: 100px;
}

form div select {
    padding: 7px 6px;
    width: 250px;
}

.logo a{
    text-decoration: none;
    color: grey;
}

form div button {
    width: 125px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
}

.result {
    padding: 5px 0;
}

.success{
    color: green;
}

.error{
    color: red;
}

@media only screen and (max-width: 576px){
    header div *{
        margin: auto;
        text-align: center;
    }

    .logo{
        padding: 5px 0;
    }

    h1{
        text-align: center;
    }

    form {
        width: fit-content;
        margin: auto;
    }

    form *{
        margin: 10px 0
    }

    body form div button {
        width: 100%;
        margin-top: 25px;
    }

    .wrapper-inner {
        padding: 30px 30px;
    }
}