{% extends 'layouts/base.html.twig' %}

{% block title %}Add user{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="wrapper-inner container">
            <h1>Add user here</h1>
            {{ form(add_user_form) }}
            <div class="result">

            </div>
        </div>
    </div>

{% endblock %}
